---
// https://fonts.google.com/specimen/Fira+Code
// https://fonts.google.com/specimen/Fira+Sans
// https://www.npmjs.com/package/@fontsource/fira-sans

import '@fontsource/fira-code/latin-400';
import '@fontsource/fira-sans/latin-400.css';
import '@fontsource/fira-sans/latin-400-italic.css';
import '@fontsource/fira-sans/latin-500.css';
import '@fontsource/fira-sans/latin-700.css';

import GtmScript from './GtmScript.astro';

const {
  pageDescription = '',
  pageImage = '/blog-cover.png',
  pageTitle = '',
  pageType = 'website',
  pageUrl = '',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<meta property="og:description" content={pageDescription} />
<meta property="og:image" content={pageImage} />
<meta property="og:image:height" content="720" />
<meta property="og:image:width" content="1640" />
<meta property="og:image:type" content="image/png" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:title" content={pageTitle} />
<meta property="og:type" content={pageType} />
<meta property="og:url" content={pageUrl} />

<link rel="icon" href="/favicon-32x32.png" type="image/png" />
<GtmScript />
<title>{pageTitle}</title>
